.banner {
    @mixin tablet {
        @media (min-width: 618px) {
            @content;
        }
     }
     @include tablet {
        // max-width: 573px;
     }
    background-color: $peach;
    color: $white;
    .banner-heading {
        font-size: 32px;
        font-weight: normal;
        text-align: center;
        line-height: 36px;
        letter-spacing: 0;
        @include tablet {
            font-size: 48px;
            line-height: 48px;
            letter-spacing: 0;
        }
    }
    .banner-text {
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        margin: auto;
        @include tablet {
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0;
            text-align: center;
        }
    }
}