.button {
    display: block;
    box-sizing: border-box;
    padding-top: 10px;
    border-radius: 8px;
    width: 152px;
    height: 56px;
    background-color: $white;
    color: $black;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}
.button--on-dark {
    @extend .button;
    color: $black;
    &:hover {
        color: $white;
        background-color: $light-peach;
    }
}