.home-banner-container {
    background-repeat: no-repeat;
    // background-position: center;
    // background-position-x: 100px;
    // background-position-y: 10px;
    // background-size: 640px 750px;
    // opacity: 5;
    background-position: center;
    background-position-x: 0px;
    background-position-y: 98px;
    background-size: 640px 750px;
    opacity: 5;
    .h2 {
        padding-top: 79px;
    }
    .p {
        margin-top: 31px;
    }
    .button {
        margin: auto;
        margin-top: 28px;
    }
    
    .bottom-container {
        height: 451px;
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: -65px;
        background-size: 650px;

    }
}
// .home-banner-container {
//     background-repeat: no-repeat;
//     background-position: center;
//     background-position-x: 0px;
//     background-position-y: 98px;
//     background-size: 640px 750px;
//     opacity: 5;
// }