.home-banner-container {
    @mixin tablet {
        @media (min-width: 900px) {
            @content;
        }
     }
    @mixin desktop {
        @media (min-width: 1430px) {
            @content;
        }
     }
     
     .top-container {
        @include tablet() {
            margin: auto;
            max-width: 460px;
        }
        @include desktop() {
            max-width: 467px;
            margin: initial;
        }
        .h2,.p {
            @include desktop() {
                text-align: left;
            }    
        }
        .p {
            @include desktop() {
                max-width: initial;
            }
        }
        .button {
            @include desktop() {
                max-width: initial;
                margin-left: initial;
                margin-right: initial;
            }
        }

    }
    margin-left: 0;
    margin-right: 0;
     // circle background image
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 0px;
    background-position-y: 98px;
    background-size: 640px 750px;
    // opacity: 5;
    @include tablet() {
        margin-left: 41px;
        margin-right: 41px;
        border-radius: 12px;
        background-position-x: 100%;
    }
    @include desktop() {
        display: flex;
        justify-content: space-between;
        margin-right: 160px;
        margin-left: 160px;
     }
    .h2 {
        padding-top: 87px;
        @include desktop {
            padding-top: 161px;
        }
    }
    .p {
        margin-top: 46px;
        max-width: 420px;
    }
    .button {
        margin: auto;
        margin-top: 46px;
    }
    
    .bottom-container {
        height: 511px;
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: -65px;
        background-size: 650px;
        @include tablet() {
            background-size: 770px;
        }
        @include desktop() {
            width: 700px;
            height: 700px;
        }
    }
}
