.home-banner-container {
    .h2 {
        padding-top: 79px;
    }
    .p {
        margin-top: 31px;
    }
    .button {
        margin: auto;
        margin-top: 28px;
    }
    
    .bottom-container {
        height: 451px;
        // background-image: url('/image-hero-phone.png');
    }
}