@import '../breakpoints/breakpoints.scss';

.header {
    @mixin tablet {
        @media (min-width: 770px) {
            @content;
        }
    }
    display: flex;
    justify-content: space-between;
    align-items: center;

    // padding: 35px 0;
    // margin-left: 0;
    // margin-right: 0;
    padding-top: 35px;
    padding-bottom: 35px;
    @include tablet {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    a {
        color: inherit;
    }
    .logo {
        width: 202px;
        position: relative;
        top: 3px;
    }
    .menu-button {
        @include tablet {
            display: none;
        }
    }
    .header-nav-menu-container {
        display: none;
        ul {
            display: flex;
        }
        @include tablet {
            display: initial;
        }
        .menu-item {
            display: block;
            font-size: 14px;
            letter-spacing: 2px;
            line-height: 14px;
            margin-right: 42px;
            text-transform: uppercase;
            &:last-child {
                margin-right: 0;
            }
        }
    }

}
// dropdown menu
.menu-dropdown-container {
    &.menu-open {
        display: initial;
    }
    &.menu-closed {
        display: none;
    }
    .menu-items-container {
        margin-right: 0;
        margin-left: 0;
        background-color: $black;
        font-size: 24px;
        padding-top: 48px;
        padding-bottom: 48px;
        .menu-item {
            padding-left: 24px;
            color: $white;
            line-height: 25px;
            letter-spacing: 2px;
            font-style: normal;
            margin-bottom: 37px;
            text-transform: uppercase;
            a:visited {
                color: $white !important;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

#menu-dropdown-container {
    @mixin tablet {
        @media (min-width: 770px) {
            @content;
        }
    }
    @include tablet {
        display: none;
    }

}

