.footer {
    $tablet-width: 790px;
    $desktop-width: 1440px;
    @mixin tablet() {
        @media (min-width: $tablet-width) {
            @content;
        }
    }
    @mixin desktop() {
        @media (min-width: $desktop-width) {
            @content;
        }
    }
    // $tablet_width: 768px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 64px;
    align-items: center;
    background-color: $black;
    color: $white;
    @include tablet {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: 258px 200px auto;
        grid-template-areas:
            "logo links-container links-container"
            "hr hr hr"
            "info-container-1 info-container-2 social-media-container";
        padding-top: 281px;
        padding-left: 38px;
        padding-right: 38px;
    }
    @include desktop {
        grid-template-columns: 414px 200px auto;
        padding-left: 164px;
        padding-right: 164px;
    }
    .footer-spacer {
        margin-left: 24px;
        margin-right: 24px;
    }
    .logo {
        margin-top: 252px;
        width: 202px;
        grid-area: logo;
        @include tablet {
            margin-top: initial;
            margin-right: 100px;
        }
    }
    .hr {
        width: 100%;
        margin-top: 35px;
        margin-bottom: 35px;
        // opacity: 53.35%;
        opacity: 10%;
        grid-area: hr;
        @include tablet {
            // margin-top: 0;
            // margin-bottom: 0;
        }
    }
    .info-container-1 {
        grid-area: info-container-1;
    }
    .info-container-2 {
        grid-area: info-container-2;
    }
    .links-container {
        @include tablet {
            grid-area: links-container;
            display: flex;
            justify-content: flex-end;
        }
        .link {
            display: block;
            margin-bottom: 33px;
            &:last-child {
                margin-bottom: 0px;
            }
            text-align: center; 
            text-transform: uppercase;
            font-size: 14px;
            line-height: 14px;
            letter-spacing: 2px;
            @include tablet {
                margin-right: 40px;
                margin-bottom: 0;
                letter-spacing: 2px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .info-container {
        margin-top: 35px;
        @include tablet {
            margin-top: 0;
        }
        .item {
            text-align: center;
            @include tablet {
                text-align: left;
            }
        }
        .heading {
            font-weight: bold;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0px;
            opacity: 50.35%;
        }
        .text-item {
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0px;
            opacity: 50.35%;
        }
    }
    .social-media-icons-container {
        @include tablet {
            grid-area: social-media-container;
        }
        margin-top: 44px;
        @include tablet {
            display: flex;
            justify-content: flex-end;
        }
        .icon-img {
            margin-right: 14px;
            &:last-child {
                margin-right: 0;
            }
            @include tablet {
                &:first-child {
                    margin-left: auto;
                }
            }
        }
    }
}