.two-card-container {
    @mixin desktop {
        @media (min-width: 1111px) {
            @content;
        }
     }
    margin-top: 96px;
    margin-bottom: 40px;
    @include desktop {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 308px;
        gap: 28px;
        margin-top: 180px;
    }
    .card-container {
        @include desktop {
            margin-top: 0;
            height: 100%;
            box-sizing: border-box;
        }
    }
}